<div class="col-md-12">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="http://lorempixel.com/1050/300">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://lorempixel.com/1050/300" /> 
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://lorempixel.com/1050/300" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
          <h2>
	          	<div class="circle">
	   				<%= link_to page_path('about'), :class => '', :rel => 'tooltip', :title =>'Learn more' do %>
					    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					<% end %>
				</div>
			<div>	
          </h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. 
          	Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, 
          	.porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          	</p>
          <p>
			<%= link_to page_path('about'), :class => 'btn btn-default' do %>
			   Lear more »
			<% end %>          	
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <div class="circle">  
          <h2>
          	<div class="circle">
             	<%= link_to items_path('index'), :class => '', :rel => 'tooltip', :title =>'See products' do %>
				    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
				<% end %>
			</div>	
          </h2>
         </div> 
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, 
          	eget lacinia odio sem nec elit. Cras mattis consectetur purus sit 
          	amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          	</p>
          <p>
         	<%= link_to items_path('index'), :class => 'btn btn-default' do %>
			    See Products »
			<% end %>
          </p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="circle">
	          <h2>
	          	<%= link_to page_path('contact'), :class => '', :rel => 'tooltip', :title =>'Contact us' do %>
				    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				<% end %>
	          </h2>
          </div>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
          	 egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
          	 Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
          	 ut fermentum massa justo sit amet risus.
          </p>
          <p>
      		 <%= link_to page_path('contact'), :class => 'btn btn-default' do %>
			   Contact us » 
			<% end %>
          </p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
 </div>   
    	
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
</a>
<script>
	$(function(){
  $("a[rel='tooltip']").tooltip();
})
</script>			
		