 <div class="row custom-background">
 	<h1 class="current-category"><%= params[:category] %></h1>
    	<% if @items.count == 0 %>
        	<h3>There is no items curently in this category</h3>
     	<% else %>
     <% @items.each do |item| %>
 
     	<div class="col-sm-4 col-lg-4 col-md-4">
     		<h3>Antique name: <%= item.title%></h3>
        	<div class="thumbnail">
            	<div class="caption">
	              	<a href="/items/<%= item.id %>">
	                	<%= image_tag item.item_img.url(:item_index) %>
	              	</a>
	              	<h4>
	                	price: $ <%= item.price %>
	              	</h4>
                </div>
             </div>
         </div>
      	<% end %>
     <% end %>
</div>
<div>
   <% if user_signed_in? %>
        <%= link_to "Add New Item", {controller: "items", action: "new"}, class: "btn btn-secondary custom-btn" %>
   <% end %>
</div>
<div>
<% if @items.blank? %>
  <h4>There are no such items <%= params[:search] %>.</h4>
<% end %>
</div>
